body{

margin:0;
padding:0;

font-family:Arial;

background:#111827;

color:white;

text-align:center;
}

/* LOGOUT */

.logout-btn{

position:absolute;

top:20px;
right:20px;

padding:12px 22px;

background:#ef4444;

color:white;

border:none;

border-radius:10px;

font-size:16px;

font-weight:bold;

cursor:pointer;
}

/* MAIN */

.tutorial-container{

width:90%;

max-width:1000px;

margin:auto;

padding:30px 20px;
}

/* TITLE */

h1{

color:#a855f7;

font-size:42px;
}

/* CARD */

.tutorial-card{

margin-top:30px;

background:#1f2937;

padding:25px;

border-radius:14px;

font-size:22px;

line-height:1.8;
}

/* ARRAY */

.example-box{

display:flex;

justify-content:center;

align-items:flex-end;

gap:15px;

margin-top:40px;

flex-wrap:wrap;
}

/* BARS */

.example-bar{

width:80px;

background:#38bdf8;

display:flex;

justify-content:center;

align-items:flex-start;

padding-top:10px;

font-size:28px;

font-weight:bold;

border-radius:10px 10px 0 0;
}

/* SORTED */

.correct{

background:#22c55e;
}

/* ACTIVE */

.active{

background:#a855f7;
}

/* TEXT */

.instruction{

margin-top:30px;

font-size:24px;
}

/* BUTTONS */

.buttons{

margin-top:40px;
}

button{

padding:16px 30px;

margin:10px;

border:none;

border-radius:10px;

font-size:20px;

font-weight:bold;

cursor:pointer;
}

.start-btn{

background:#a855f7;

color:white;
}

.back-btn{

background:#334155;

color:white;
}