body{

margin:0;
padding:0;

background:#020617;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

font-family:Arial;

color:white;
}

.login-container{

background:#1e293b;

padding:50px;

border-radius:20px;

text-align:center;

width:400px;

box-shadow:
0 0 25px rgba(0,0,0,0.5);
}

h1{

font-size:50px;

color:#38bdf8;
}

p{

font-size:22px;
}

input{

width:80%;

padding:15px;

margin-top:20px;

border:none;

border-radius:10px;

font-size:18px;

outline:none;
}

button{

margin-top:30px;

padding:16px 35px;

border:none;

border-radius:12px;

background:#38bdf8;

color:black;

font-size:22px;

font-weight:bold;

cursor:pointer;
}