body{

margin:0;
padding:0;

background:#020617;

font-family:Arial;

color:white;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

overflow:hidden;
}
.tutorial-container{

width:90%;

max-width:1000px;

text-align:center;
}

h1{

color:#38bdf8;

font-size:40px;

margin-bottom:10px;
}

.tutorial-card{

background:#1e293b;

padding:20px;

border-radius:20px;

font-size:18px;

line-height:1.5;
}

.example-box{

height:170px;
display:flex;

justify-content:center;

align-items:flex-end;

gap:15px;

margin-top:40px;
}

.example-bar{

width:90px;

background:#22d3ee;

border-radius:10px 10px 0 0;

display:flex;

justify-content:center;

align-items:flex-start;

padding-top:10px;

font-size:24px;

font-weight:bold;
}

.active{

background:#facc15;
}

.instruction{

margin-top:25px;

font-size:28px;

color:#facc15;
}

/* BUTTONS */

.buttons{

margin-top:40px;
}

button{

padding:16px 30px;

margin:10px;

border:none;

border-radius:12px;

font-size:20px;

font-weight:bold;

cursor:pointer;
}

.start-btn{

background:#22c55e;

color:white;
}

.back-btn{

background:#38bdf8;

color:black;
}
/* LOGOUT BUTTON */

.logout-btn{

position:absolute;

top:20px;
right:20px;

padding:12px 22px;

background:#ef4444;

color:white;

border:none;

border-radius:10px;

font-size:16px;

font-weight:bold;

cursor:pointer;

transition:0.3s;

z-index:1000;
}

.logout-btn:hover{

transform:scale(1.05);
}